body
{
	text-align: center;


 background:
  linear-gradient(135deg, #ffc701 5%, #ffc701 35%, lightblue),
url(back.png) ;
background-size: 100% 100vh;

}
.form
{
    color:white;
	margin-top: 3vh;
	border-radius: 10px;

	display: inline-block;
	padding-left:.3vw;
	padding-right:.3vw;
	padding-top:2vh;
	padding-bottom:2vh;
	

}
.navbar_name
{
	font-size: calc(18px + 2vw);
}
.navbar
{
	font-size: calc(24px + 2.4vw);
	font-weight: 600;
margin-top:1vh;
	margin-bottom: 3vh;
	font-family: "Roboto", sans-serif;
}
label
{
	margin-top:1vh;
	margin-bottom: 1vh;
	width: 80%;
	 font-family: "Roboto", sans-serif;
font-size: calc(24px + 1.6vw);
font-weight: 500;
}
input
{
	width: 80%;
	margin-top:1vh;
	margin-bottom: 3vh;
	height: 6vh;
	border-radius: 10px;
	border:0.3vh solid white;
	 font-family: "Roboto", sans-serif;
font-size: calc(24px + 1.6vw);
text-align: center;
}
textarea
{
	height: 25vh;
	border-radius: 10px;
	border:0.3vh solid white;
	width: 80%;
	margin-top:1vh;
	margin-bottom: 3vh;
	font-size: calc(24px + 1.6vw);
text-align: left;
  font-family: "Roboto", sans-serif;
}
